
body {
  background-color: #f0f0f0;
  /* background-image: linear-gradient(to bottom right, #ff00ff, #00ffff); */
  background-repeat: no-repeat;
  background-size: cover;
}

.todo-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to bottom right, #ff00ff, #00ffff);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.todo-app__title {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.todo-app__input {
  margin: 10px 0;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 300px;
}

.todo-app__button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todo-app__button:hover {
  background-color: #0056b3;
}

.todo-app__list {
  list-style-type: none;
  padding: 0;
}

.todo-app__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 300px;
}

.todo-app__label {
  margin-right: 10px;
}

.todo-app__delete-button {
  color: #fff;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

.todo-app__delete-button:hover {
  background-color: #c82333;
}